.container .jumbotron2{
      border-radius: 0px;
}
.jumbotron2{
  background-color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: 1px solid white;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  }

 #finishButton2{
  background-color: white;
  border: 2px #ff6a20 solid;
  border-radius: 20px;
  color:#ff6a20;
  font-family: verdana;
  text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	padding:10px;
  }

  #finishButton2:hover{
  	background-color: #ff6a20;
  	color:white;
  }

  #finishButton2:focus{
  	outline:0;
  }

.line2{
  margin-top: 130px;
   border-top: 2px solid #ff6a20;
}

.header1{
  font-size: 50px;
  color:#ff6a20;
  font-family: 'Vidaloka', serif;
  text-align:center;
}
.header2{
  font-family: 'Vidaloka';
  font-size: 20px;
  color:#b5bbca;
  text-align:center;
  
}