
.menu{
  height: 70px;
  right:0;
  left:0;
  top:0;
  background-color: #0b3042;
  text-decoration:none;
  position: fixed;
  display:flex;
  z-index:999;
}


.menu a{
  padding:25px;
  text-decoration: none;
  font-family: 'Lato';
  color:#dcbf87 ;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: -5px;
  
 
}

.menu-box{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height:70px;
}

.menu a:hover{
  background-color: #210f0f;
  color:#9e6262 !important;
  margin:none !important;
  border: none !important;
  padding:none !important;
  text-decoration: none !important;
}

.menu a:first-child{
  border-left:none;
} 

.menu a:last-child{
 border-left: none;
 margin-left: 10%;

}

.menu a:nth-last-child(3){
  border-left: 1px #1e4b61 solid;
    border-right: 1px #1e4b61 solid;
}

.navbarGrade { 

border-right:1px solid #1e4b61;
}

.active{
  background-color: #492222;
}

.dropbtn{
  background-color:#0b3042 !important; 
  cursor:auto;
  height:20px;
  border:none;
  margin-left: -300px !important;
}

.dropdown-content {
    display: inline-block;
    position: absolute;
    background-color: #0b3042;
    min-width: 100vw;
    z-index: 1;
}

.h1Student{
  font-family: 'Vidaloka', serif;
  letter-spacing: 3px;
  color:#dcbf87;
  margin-top: 5px;
  font-size: 30px;
  text-align: left; 
}

.h2StudentEmail{
  font-family: 'Lato';
  color:#985050;
  text-align: left;
  font-size: 15px;
  margin-top: -10px;
}


#contentBox{
  margin-top: 150px;
  background-color: #985050;
  position: relative;

}

#studentview .panel-style{
  background-color: #351919;
  border-color: #351919;
}

.line{
  border:1px #985050 solid !important;
  margin-top: 10%;
}

.student-view-test-info{
  font-family: 'Lato' !important;
  color:#dcbf87 !important;
  font-size: 14px;
  letter-spacing: 1px;
}


.img-circle{
border-radius: 50%;
width:100%;
padding:3px;
}

#glyphicon-ring {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ccb692;
   
}

.list-group-item{
  background-color: #592929;
  font-family: verdana !important;
  color: #FAFFBD !important;
  border-radius: 20px !important;
  border:none;
}

.list-group-item:hover{
 background-color: #1f0e0e !important;
 border: none !important;
 cursor: pointer;
 
}
.mainContent{
  align-content: center;

}

#glyphicon{
 
  color:#ccb692;
  border-radius: 5px;
  display:block;
  text-align:center;
  font-size: 30px;
  padding: 0;
  vertical-align:middle;

}

/*för ikon utan bakgrund*/

#glyphicon-ring .glyphicon-bordered {

  font-size: 50px;
  vertical-align: middle;
  display: table-cell;
}

.floatingImg{
  width:100px;
  height:100px;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 43%;
}


.img-circle{
    background-size: 50% 50%;
    border-radius: 50%;

}

.idBox{
  margin-top: -15%;
}


@media screen and (max-width: 376px){

.testWrapper .studentEmail{
    margin-top: -115%;
    margin-left: 25%;
    }


.testWrapper .testsDone{
  
  margin-right: -56%;
  margin-top: 15%;
  margin-left: -11%;
}

.testWrapper .testToDoP{
  margin-top: -2%;
}

.testWrapper .testToDos{
  margin-top: 15%;
  margin-right: 4%;
}

.testWrapper .testlist {
  margin-top: -5%;
  margin-left: -10%;
}


.menu a:last-child{
 border-left: none;
 margin-left: 0;

}

.menu a:nth-last-child(2){
  border-top: 1px #1e4b61 solid;
    border-bottom: 1px #1e4b61 solid;
}

.dropbtn {
  display: block;
  height: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0b3042;
    min-width: 100vw;
    z-index: 1;
    
}

  .menu a{
  display: block;
  padding:10px;
  
  }

.menu a:first-child{
  border:none;
}

.dropdown {
    position: fixed;
    display: inline-block;
    
}
 

.idBox{
  
  width: 200vw;
  margin-top: -1%;
  margin-left: 5%;
}
.h1Teacher{
  text-align: left; 
  
}


.navbarStatistics{
  border-right:none;
}
.h2TeacherEmail{

  text-align: left;
  
   
}

.floatingImgT {
    right: 40%;
}

.testWrapper{
  height:26vh;
}

.testWrapper .testStatus{
    height: 25vh;
  
}
.panel-body {
   
    margin-top: -5%;
}
.testWrapper .testlist {
    margin-top: -5%;
}

.buttonAndList{
    margin-left: -15%;
}


.bothButtons{
  margin-left: -14%;

}

#studentview .glyphicon-menu-hamburger{
  color: #dcbf87;
    display: inherit;
    margin-top: -7%;
    margin-left: 82%;
    font-size: 160%;
}
  .h1Student{
  text-align: center; 
  
}


.navbarGrade{
  border-right:none;
}
.h2StudentEmail{

  text-align: center;
  
   
}

.floatingImg {
    right: 40%;
}

#studentview .glyphicon-menu-hamburger {
    color: #dcbf87;
    display: inherit;
    margin-top: -7%;
    margin-left: 76%;
    font-size: 160%;
}
.line{
  
  margin-top: 20%;
}

.droplist{
  display: none;
}
  
  
}

@media (min-width: 377px) and (max-width: 668px){

#contentBox{
  margin-top: 260px;
 

}

.dropdown:hover .dropbtn {
  background-color:  #0b3042;
  outline: 0;
}


  }

  @media screen and (min-width:667px) {
       .dropdown-content { display:inline-block !important;
}
