#testview{
  background-color: #351919 ;

}

#testview p,#testview h3,#testview h4{
  color: #dcbf87;
}

#testview hr {
  border-color:darkkhaki;
}

.contentA{
  border: none !important ;
}
.goBack{
text-decoration: none !important;
color: #FAFFBD !important;
border: 1px #FAFFBD solid !important;
}

.goBack:hover{
  color: white !important;
}
