/*design för desktop*/
.container .jumbotron{
  border-radius: 0px;
} 

.jumbotron{
  background: -webkit-linear-gradient( #000000, #7b3939);
  background:linear-gradient( #000000, #7b3939);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: 1px solid white;
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  margin-top: 100px;
  }



 .currentQNumber{
  font-size: 80px;
  color:#dcbf87;
  
}

.noQuestionLength{
  font-family: 'Vidaloka', serif;
  color: #985f5f;
  text-align:right;
  float:right;
}



#testForm .header1{
  font-family: 'Vidaloka', serif;
  font-size: 70px;
  color:#dcbf87 !important;
  text-align:left;
  float:left;
}

.nameOfTest{
  margin-top: 120px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-family: Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color:#985f5f;
  text-align: left;
}

.line{

  margin-top: 30px;
  border: 1px #ff6a20 solid;
}

.questionP{
  margin-top: 50px;
  text-align: left;
  margin-left: 15%;
  color:#985f5f;
  font-size: 23px;
  font-family: 'Vidaloka', serif;
  margin-top: 10px;
}


#nextButton:hover{
  color:#ff6a20 ;
  border: 2px solid #ff6a20 ;
  text-decoration: none;
  
}

#nextButton:checked{
  color:#ff6a20 ;
  border: 2px solid #ff6a20 ;
  text-decoration: none;    
}

#nextButton{
  color:#ff6a20;
}


.pager li>#nextButton{
  background-color: #271629 ;
  color:#FAFFBD;
  border: 1px #FAFFBD solid;
}

.pager li>#nextButton:hover{
  background-color: #442530;
  color:white;
  border: 1px #FAFFBD solid;
}


input[type='radio'] {

  -webkit-appearance:none;
  width:15px;
  height:15px;
  border:2px solid #FAFFBD;
  border-radius:50%;
  outline:none;
  margin-right: 10px;
  margin-bottom: -5px;
}

input[type='radio']:before {
  content:'';
  display: block;
  width:80%;
  height:80%;
  margin: 8% auto;  
  margin-left: 1.5px;  
  border-radius:60%;    
}
input[type='radio']:checked:before {
  background:#985f5f;

}
input[type='radio']:focus {
  outline: 0;

}

#finishButton {
  margin-left: 87%;
  background-color: white;
  border-radius: 20px;
  border: 2px #ff6a20 solid ;
  padding:5px;
  padding-left:10px;
  padding-right: 10px;
  font-family: verdana;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ff6a20;
  font-size: 10px;
  display:none;
}

#finishButton:hover{
  background-color: #ff6a20;
  color:white;
}

#finishButton:focus{
  outline: 0; 
}

.questionImage{
  text-align: center;
}

.radioAlternatives{
  display:flex;
}

.answerAlternatives{
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color:#9c8964;
}

#error-message{
  color:#c19191;
  font-family: verdana;
  font-size: 14px;
}

#form{
  margin-left: 15%;
}


/* design för stående mobil */
@media screen and (max-width: 376px){

  .header1{
    margin-top: 70px;
    font-size: 50px;  
  }

  .questionP{
    text-align: left; 
    margin-left: 15%;
  }

  .noQuestionLength{
    font-size: 30px;
    margin-top: -150px;
  }

  .currentQNumber{
    font-size: 50px;
  }

  .nameOfTest{
    margin-top: 140px;
  }


  #finishButton{
   margin-left: 73%;

  }

  .jumbotron{
    margin-top: 10px;
  }

}


