#testview{
  background-color: #351919 ;

}

#testview p{
    color: #c1ae8f;
    font-family: 'Lato';
}
  font-family: 'Lato';
}

#testview hr {
  border: 1px  #985050 solid;
  margin-top: -10%;
}

#testview .line2{
  border: 1px  #985050 solid;
  margin-top: 5%;
}

.goBack{
text-decoration: none !important;
color: #FAFFBD !important;
border: 1px #FAFFBD solid !important;
}

.goBack:hover{
  color: white !important;
}
#testresultview .panel-style{
  border: none !important ;
}

#testresultview .paragraphCorrect{
	margin-bottom: 15%;
}

#testview .paragraphCorrect{
	color: #c16c6c;
    font-family: 'Lato';
    font-size: 20px;
}

#testresult{
	margin-top: 15%;
}

#testview h4{
	 color:#c16c6c;
    font-family: 'Lato';

}


@media (min-width: 377px) and (max-width: 668px){

#testresultview .panel-style {
    margin-top: 10%;
}

#testresult {
    margin-top: 8%;
}
}