FinishedForm.addTemplate('default', function(){return `


  <div id="finishedform" class="container space-above">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron2">
       <h1 class="header1">Du har nu avslutat testet</h1>
        <h2 class="header2">Tack för att du lämnade in ditt svar!</h2>
          <hr class="line2">
  		      <div class="button2">
                <button data-click="seeResult" id="finishButton2">se resultat</button>
          </div>
          </div>
       
      </div>
    </div>
</div>
`});