FinishedForm.addTemplate('default', function(){return `


  <div class="container space-above">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
       <h1 class="head">Test frågor</h1>
        <h2 class="display-3"><strong class="number"></h2>
        <h3></h3>
        <hr class="line">
       
        

  		<div class="buttons">
        <p class="lead">
          <nav aria-label="...">
              <ul class="pager">
                <li><a data-click="backToQ" class="arrow-left" href="#"> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
                <li><a class="arrow-right" data-click="nextQ" href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></li>
               </ul>
               
          </nav>
          </div>
          </div>
        </p>
      </div>
    </div>
</div>
`});