Login.addTemplate('default', function(){return `


  <div class="container">

  <div class="container" id="login">
    <div class="form-signin">
       <h2 class="form-signin-heading center">Sign in</h2>
       <p class="center">Email address</p>
       <label for="inputEmail" class="sr-only">Email address</label>
       <input  id="inputEmail" class="form-control" placeholder="Email address"  autofocus>
       <p class="center">Password</p>
       <label for="inputPassword" class="sr-only">Password</label>
       <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
       <button  data-click="login" class="btn btn-lg btn-primary btn-block">Sign in</button>
   </div>
 </div>
   <div class="wrongUserPass">

</div>
</div>
`});
