Statistic.addTemplate('default', function(){return `
<div class="statsGroup">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
   
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <!--Innuti klass-->
      <div class="panel-body statisticContainer">
           <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title studentResult">Studenternas resultat</h3>
  </div>
  <div class="panel-body studentBar">
  </div>
</div>
          <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title averageResult">Klassens snittresultat</h3>
  </div>
  <div class="panel-body klassBar">
  </div>
</div>
      </div>
      </div>
  </div>
</div>

</div>

`});