Statistic.addTemplate('default', function(){return `

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
   
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <!--Innuti klass-->
      <div class="panel-body">
           <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Studenternas resultat</h3>
  </div>
  <div class="panel-body klassBar">
  </div>
</div>
          <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Klassens snittresultat</h3>
  </div>
  <div class="panel-body">
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    50%
  </div>
</div>
  </div>
</div>
      </div>
      </div>
  </div>
</div>


`});