<!--shows a a-tag with students-->

Student.addTemplate('default', function(){return `

<div class="testWrapper">
	<div class="testStatus">
		<div class="emailAndPicture">
			<p class="studentEmail">${this.email}</p>

			<div class=" col-md-2 col-centered floatingStudentImages">
				<div id="glyphicon-ring">
					<img class="img-circle" src="https://www.atomix.com.au/media/2015/06/atomix_user31.png"></div>
			</div>
		</div>

		<button data-click="collapseTestsDone" type="button" class="btn testsDone">
			<span class="glyphicon glyphicon-ok-circle glyphiconCircle" aria-hidden="true"></span>
				<p class="testDoneP">Gjorda tester:</p>
		</button>
		<div class="collapse">${this.finishedTests.display()}</div>

		<button data-click="collapseTestToDos" type="button" class="btn testToDos"><span class="glyphicon glyphicon-edit glyphiconTest" aria-hidden="true"></span>
			<p class=testDoneP>Tester att göra: </p>
		</button>
		<div class="collapse">${this.testsToDo.display()}</div>
	</div>
	
</div>


`});