<!--Studentpage that shows test to do an also test that have been done -->
StudentView.addTemplate('default', function(){return `
<div id = "studentview" class="container">

	<!--Start section-->

<section class="student-view">
<div class="container">
				<nav class="menu">
		<div class="menu-box" >
			<div class="dropdown">
				
				<a class="dropbtn" data-click="showDropDownMenu">
				<div class="idBox">
					<h1 class="h1Student">STUDENT</h1>
					<h2 class="h2StudentEmail">${this.student.email}</h2>
					<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
				</div></a>
				<div class="dropdown-content droplist">

					<a href="#" data-click="classes" class="navbarTest" checked>Test</a>
					<a href="#" data-click="statistics" class="navbarGrade">Betyg</a>
					<a href="." class="navbarLogOut">Logga ut</a>


				</div>
			</div>

		</div>
		
	</nav>
			</div> 
		
		<!--Start row-->
		<div class="row space-above">
			<div class="col-md-3 hidden-sm">
			</div>
			<!--Start maincontent-->
			<div class="col-md-8 col-md-offset-2 mainContent">
				<div id="contentBox" class="panel panel-default panel-style">
					<div class="panel-body">
						<div class=" col-md-2 col-centered floatingImg"><div id="glyphicon-ring"><img class="img-circle" src="https://www.atomix.com.au/media/2015/06/atomix_user31.png"></div></div>
						<hr class="line">

						<!--List with tests to do-->
						<article class="student-view-test-info">
							<p class="testTextP">Kunskapstester att göra: <strong> ${this.student.testsToDo.length}</strong></p>

							<div class="list-group testToDoList">
								${this.student.testsToDo.display()}
							</div>
						</article>
						<!--end tests to do-->

						<!--List with finished tests-->
						<article class="student-view-test-info">
							<p class="testTextP">Kunskapstester du genomfört: <strong>${this.student.finishedTests.length}</strong></p>

							<div class="list-group">
								${this.student.finishedTests.display()}
							</div>
						</article>
						<!--end finished tests-->

					</div>
				</div>
			</div>
			<!--end maincontent-->

			<div class="col-md-3 hidden-sm">
			</div>

		</div>
	</section>
	<!--end content-->


</div>
`});