StudentView.addTemplate('default', function(){return `
<div class="container">
	<section class="student-view">
		<div class="row space-above">
			<div class="col-md-3 hidden-sm">
			</div>

			<div class="col-md-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>${this.student.email}</h3>
						<hr>

						<!--Lista med elevens ogjorda tester-->
						<article class="student-view-test-info">
							<p><strong>Kunskapstester att göra</strong></p>

							<div class="list-group">
								${this.student.tests.display()}
							</div>
						</article>

						<!--Lista med elevens gjorda tester-->
						<article class="student-view-test-info">
							<p><strong>Kunskapstester du genomfört</strong></p>

							<div class="list-group">
				
							</div>
						</article>
					</div>
				</div>

				<div class="col-md-3 hidden-sm">
				</div>
			</div>

	</section>

	</div>

	`});