<!--Teacherview -->
TeacherView.addTemplate('default', function(){return `
<!--Start container-->
<div id="wrapper">
	<nav class="topNav"><a class="logOutButton" href="">Logga ut</a></nav>
	
	<nav class="sideNav">
		<div class="icon"> <div class="glyphicon-ring"><img class="img-circle" src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/33550_10150277904375612_99705_n.jpg?oh=51efb472a94b875ab8557e6ccd9757da&oe=5925F103"></div></div>
		<a class="classButton" href="">Klasser</a>
		<a class="createTestButton" href="">Skapa test</a>
	</nav>

	<nav class="topNavClasses"><a class="class1Button" href="">SYSJM2</a></nav>
<div id="teacherview" class="container">

	<!--Start section-->
	<section class="student-view">

		<!--Start row-->
		<div class="row space-above">

			<div class="col-md-3 hidden-sm">
			</div>

			<!--Start maincontent-->
			<div class="col-md-6 col-sm-12">
				<div id="bodyTemplate" class="panel panel-default panel-style">
					<div class="panel-body">
						<h3>${this.teacher.email}</h3>
						<h4>Lärare</h4>
						<hr>
						<div id="classes" class="list-group">
							${this.teacher.classes.display()}
						</div>
					</div>
				</div>
			</div>
			<!--end maincontent-->

			<div class="col-md-3 hidden-sm">
			</div>

		</div>
	</section>
	<!--end content-->

</div>
</div>
<!--end container-->
`});