Timer.addTemplate('default', function(){return `

    <div class="jumbotron">
           <section class="loginform_cf">
        <table>
          <tr>
            <td id="test_status" style="text-align:left"></td>
          </tr>
          <tr>
            <td></td>
            <td id="endtime" style="text-align:right"></td>
          </tr>
          <tr>
            <td id="test" colspan="2"></td>
          </tr>
        </table>
        <div id="showtime"></div>
      </section>
    </div>
 

`});